body {
  margin: 0;
  padding: 0;
  background-color: rgb(30,30,30);
  color: rgb(240,240,240);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Verdana;
}

header {
  width: 95%;
  max-width: 788px;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  margin-top: 15px;
  
}

h1 {
  font-size: 20px;
  margin-bottom: 30px;
}

.share-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(240,240,240);
}
  
  .container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-directoin: column;
    align-items: center;
  }

  .image-container {
    height: 96;
    width: 96;
    border-radius: 48;
    overflow: hidden;
}

  .image-container img {
  height: 100%;
}

  a {
    text-decoration: none;
    color: rgb(240,240,240);
    
  }
  
  .tile {
    width: 100%;
    height: 56;
    background-color: rgb(40,40,40);
    margin: 8px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    
  }
