body {
    margin: 0;
    padding: 0;
    background-color: rgb(200,200,200);
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    font-family: Open Sans, Lato;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.container {
    width: 90%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: rgb(200,200,200);
}

.tile {
    width: 100%;
    background-color: rgb(20,20,20);
    margin: 8px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.image-container {
    height: 100px;
    width: 100px;
    border-radius: 48px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}
